#backboard_A1 {
  width: 180px;
  height: 180px;
  background-color: rgb(75, 226, 75);
  top: 640px;
  left: 685px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_A2 {
  width: 180px;
  height: 180px;
  background-color: rgb(223, 192, 111);
  top: 460px;
  left: 685px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_A3 {
  width: 180px;
  height: 180px;
  background-color: rgb(223, 192, 111);
  top: 280px;
  left: 685px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_A4 {
  width: 180px;
  height: 180px;
  background-color: rgb(226, 75, 75);
  top: 100px;
  left: 685px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_B1 {
  width: 180px;
  height: 180px;
  background-color: rgb(75, 226, 75);
  top: 640px;
  left: 865px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_B2 {
  width: 180px;
  height: 180px;
  background-color: rgb(223, 192, 111);
  top: 460px;
  left: 865px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_B3 {
  width: 180px;
  height: 180px;
  background-color: rgb(223, 192, 111);
  top: 280px;
  left: 865px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_B4 {
  width: 180px;
  height: 180px;
  background-color: rgb(226, 75, 75);
  top: 100px;
  left: 865px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}
#backboard_C1 {
  width: 180px;
  height: 180px;
  background-color: rgb(75, 226, 75);
  top: 640px;
  left: 1045px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_C2 {
  width: 180px;
  height: 180px;
  background-color: rgb(223, 192, 111);
  top: 460px;
  left: 1045px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_C3 {
  width: 180px;
  height: 180px;
  background-color: rgb(223, 192, 111);
  top: 280px;
  left: 1045px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#backboard_C4 {
  width: 180px;
  height: 180px;
  background-color: rgb(226, 75, 75);
  top: 100px;
  left: 1045px;
  position: fixed;
  border: 2px solid;
  z-index: 1;
}

#moveToA1 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 642px;
  left: 685px;
  position: fixed;
  z-index: 2;
}

#moveToA2 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 462px;
  left: 685px;
  position: fixed;
  z-index: 2;
}

#moveToA3 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 282px;
  left: 685px;
  position: fixed;
  z-index: 2;
}

#moveToA4 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 102px;
  left: 685px;
  position: fixed;
  z-index: 2;
}

#moveToB1 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 642px;
  left: 865px;
  position: fixed;
  z-index: 2;
}

#moveToB2 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 462px;
  left: 865px;
  position: fixed;
  z-index: 2;
}

#moveToB3 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 282px;
  left: 865px;
  position: fixed;
  z-index: 2;
}

#moveToB4 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 102px;
  left: 865px;
  position: fixed;
  z-index: 2;
}

#moveToC1 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 642px;
  left: 1047px;
  position: fixed;
  z-index: 2;
}

#moveToC2 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 462px;
  left: 1047px;
  position: fixed;
  z-index: 2;
}

#moveToC3 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 282px;
  left: 1047px;
  position: fixed;
  z-index: 2;
}

#moveToC4 {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 102px;
  left: 1047px;
  position: fixed;
  z-index: 2;
}

#red_king {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_king.png");
  background-size: contain;
  top: 110px;
  left: 876px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_ja {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_ja.png");
  background-size: contain;
  top: 291px;
  left: 876px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_ja_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_ja.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_sang {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_sang.png");
  background-size: contain;
  top: 110px;
  left: 1056px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_sang_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_sang.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_jang {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_jang.png");
  background-size: contain;
  top: 110px;
  left: 696px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_jang_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_jang.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_hu {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_hu.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#red_hu_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/red_hu.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  transform: rotate(180deg);
  z-index: 2;
}

#green_king {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_king.png");
  background-size: contain;
  top: 651px;
  left: 876px;
  position: fixed;
  z-index: 2;
}

#green_ja {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_ja.png");
  background-size: contain;
  top: 471px;
  left: 876px;
  position: fixed;
  z-index: 2;
}

#green_ja_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_ja.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  z-index: 2;
}

#green_sang {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_sang.png");
  background-size: contain;
  top: 651px;
  left: 696px;
  position: fixed;
  z-index: 2;
}

#green_sang_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_sang.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  z-index: 2;
}

#green_jang {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_jang.png");
  background-size: contain;
  top: 651px;
  left: 1056px;
  position: fixed;
  z-index: 2;
}

#green_jang_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_jang.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  z-index: 2;
}

#green_hu {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_hu.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  z-index: 2;
}

#green_hu_2 {
  width: 160px;
  height: 160px;
  background-image: url("/assets/images/green_hu.png");
  background-size: contain;
  top: 9999px;
  left: 9999px;
  position: fixed;
  z-index: 2;
}

#game_timer {
  width: 160px;
  height: 160px;
  top: 10px;
  left: 925px;
  position: fixed;
  font-size: 50px;
  z-index: 3;
  color: rgb(0, 255, 0);
}

#green_name {
  top: 400px;
  left: 1450px;
  position: fixed;
  font-size: 60px;
  color: rgb(1, 75, 1);
}

#red_name {
  top: 400px;
  left: 50px;
  position: fixed;
  font-size: 60px;
  color: rgb(75, 1, 1);
}

#view_id {
  top: 830px;
  left: 820px;
  position: fixed;
  font-size: 50px;
}

.modal {
  position: absolute;
  display: none;

  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 4;
}

.modal_body {
  position: absolute;
  top: 50%;

  width: 400px;
  height: 400px;

  padding: 20px;

  text-align: center;
  line-height: 10px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateY(-50%);
}

#modal_select_home {
  cursor: pointer;
  position: inherit;
  top: 80%;
  left: 33%;

  width: 120px;
  height: 40px;
  overflow: visible;

  padding: 10px;

  text-align: center;
  line-height: 40px;

  background-color: rgb(18, 226, 32);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(1, 59, 22, 0.4);
}

#modal_image {
  position: relative;
  /* top: 30%;
    left : 10%; */

  width: 100px;
  height: 100px;

  /* padding-left: 100px; 
    line-height: 100px;
    font-size: 30px; */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
