* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f9;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  background: #fff;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* 탭 */
.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #4f7dbb;
  background: #fff;
  color: #4f7dbb;
  font-weight: bold;
  cursor: pointer;
}

.tab.active {
  background: #4f7dbb;
  color: #fff;
}

/* 입력 공통 */
.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  display: block;
  margin: 0 auto;
}

.input.main {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

.input.main::placeholder {
  color: rgb(199, 199, 199);
}

.section {
  margin-bottom: 20px;
}

.section label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

/* 방 ID */
.id-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.room-id {
  font-size: 24px;
  font-weight: bold;
}

.icon-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

/* 라디오 */
.radio-group {
  display: flex;
  gap: 14px;
  font-size: 14px;
}

/* 버튼 */
.primary-btn {
  width: 100%;
  padding: 14px;
  background: #4f7dbb;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/* 탭 컨텐츠 */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
